body {
    line-height: 0.5;

}

h1 {
    margin-top: 0;
}


/*CSS START*/

.full-table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card {
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    background: #bdbdbd;
    min-width: 100px;
    max-height: 30px;
    color: #fff;
    display: inline-block;
    box-shadow: 2px 2px 1px 0px #989798;
}

.weekday {

    display: inline;
    font-family: 'Dancing Script', cursive;
    font-size: 0.9em;
    padding-right: 5px;
}

.date {
    display: inline;
    min-width: 162px;
    font-family: 'Dancing Script', cursive;
    font-size: 0.7em;
    /* padding-right: 30px; */
}